.about > h1 {
	display: flex;
	justify-content: center;
	margin: 5%;
	color: white;
}
.card > .card-m {
	width: 84%;
	margin: 8%;
	background-color: #343e58;
	border: 3px solid #343e58;
	height: 220px;
}
.card-m:hover {
	border: 3px solid white;
}
.card-m > h1 {
	text-transform: capitalize;
	text-align: center;
	color: white;
}
.card-m > span {
	text-align: center;
	margin-left: 51px;
	margin-bottom: 15px;
	color: white;
}
.card-m > span > a {
	text-align: center;
	text-decoration: none;
	margin-left: 51px;
	margin-bottom: 15px;
	color: white;
}
.card-m > span > a:hover {
	color: #ffef97;
}