@media (max-width: 900px) {
	#particles-js {
		height: 100vh;
	}
}
@media (max-width: 560px) {
	#particles-js {
		height: 115vh;
	}
	.ty > h1 {
		font-size: 28px;
	}
	.ty > .span {
		font-size: 15px;
	}
}
@media (max-width: 400px) {
	#particles-js {
		height: 110vh;
	}
	.ty > h1 {
		font-size: 23px;
	}
	.ty > .span {
		font-size: 10px;
	}
}